.wrapper {
    height: 100;
    width: 650px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
}


.div1 {
    height: 100px;
}

.div2 {
    width: 300px;
}